<!-- About Section -->
<!--<section id="about" class="container content-section text-center">-->
<section id="about" class="container content-section">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="clearfix"></div>
                    <h1 class="section-heading">
                        About
                    </h1>
                    <div class="lead">
                        <h3>Education <small>Florida State University</small></h3>
                        <p>I graduated form the College of Engineering with a Bachelors of Science in Civil Engineering
                            during December of 2012.</p>

                        <h3>Engineering <small>Specializing in problem solving</small></h3>
                        <p>After college, I transitied into the </p>

                        <h3>Programming <small>Automation, analysis, and development</small></h3>
                        <p>Like most people who have worked any entry-level job, sometimes tedious task need to be handled,
                            ad they have to be handled quick. Upon realizing that my sanity was at risk, I started learning
                            how to code as a way to automate my "busy work".</p>

                        <h3>Skills Summary<small>fdsfdsf</small></h3>
                        <ul>
                            <li>Programming Languages
                                <ul>
                                    <li>HTML / CSS</li>
                                    <li>Javascript</li>
                                    <li>Python (2.x and 3.x)</li>
                                    <li>Visual Basic (VBA)</li>
                                    <li>Bash</li>
                                </ul>
                            </li>
                            <li>Development Tools
                                <ul>
                                    <li>Linux</li>
                                    <li>Foundation and Bootstrap</li>
                                    <li>JQuery</li>
                                    <li>Django</li>
                                    <li>Git (GitHub and Bitbucket)</li>
                                </ul>
                            </li>
                            <li>Concepts
                                <ul>
                                    <li>Object Oriented Programming</li>
                                    <li>Relational Databases</li>
                                    <li>Model View Controller (MVC)</li>
                                    <li>Inheritance</li>
                                    <li>RESTful Web Services</li>
                                </ul>
                            </li>
                            <li>Engineering Design Tools
                                <ul>
                                    <li>GIS (ArcGIS and QGIS)</li>
                                    <li>CADD (MicroStation and AutoCAD</li>
                                    <li>Flood Modeling</li>
                                    <li>Microsoft Excel</li>
                                    <li></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>
