    <!-- Skills Section -->
    <section id="skills" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/>
              <h2>Some Useful Skills</h2>
              <br/>
                <div class="row">
                  <div class="col-xs-12 col-md-4">
                    <h3>Languages</h3>
                    <ul style="list-style-type:none;padding-left:0;">
                      <li>HTML / CSS</li>
                      <li>Javascript</li>
                      <li>Python (2.x and 3.x)</li>
                      <li>Visual Basic (VBA)</li>
                      <li>Bash</li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <h3>Tools</h3>
                    <ul style="list-style-type:none;padding-left:0;">
                      <li>Linux</li>
                      <li>Foundation and Bootstrap</li>
                      <li>JQuery</li>
                      <li>Django</li>
                      <li>Git (GitHub and Bitbucket)</li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <h3>Concepts</h3>
                    <ul style="list-style-type:none;padding-left:0;">
                      <li>Object Oriented Programming</li>
                      <li>Relational Databases</li>
                      <li>Model View Controller (MVC)</li>
                      <li>Inheritance</li>
                      <li>RESTful Web Services</li>
                    </ul>
                  </div>
                </div>
                <br/>
              </div>
        </div>
    </section>
